= form_for @instruction do |f|
  -if @instruction.errors.any?
    #error_explanation
      %h2= "#{pluralize(@instruction.errors.count, "error")} prohibited this instruction from being saved:"
      %ul
        - @instruction.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :description
    = f.text_field :description
  .field
    = f.label :batch_id
    = f.number_field :batch_id
  .actions
    = f.submit 'Save'
