%p#notice= notice

%p
  %b Description:
  = @instruction.description
%p
  %b Batch:
  = @instruction.batch_id

= link_to 'Edit', edit_instruction_path(@instruction)
\|
= link_to 'Back', instructions_path
