.ingredient{:id => "ingredient_#{ingredient.id}"}
  = best_in_place ingredient, :qty
  = best_in_place ingredient, :unit
  = best_in_place ingredient, :name
  = link_to 'Delete Ingredient', ingredient_path(ingredient), :method => :delete, :remote => :true
