= form_for Ingredient.new do |f|

  =f.hidden_field :batch_id, { :value => @batch.id }
    
  .field
    = f.label :qty
    = f.text_field :qty  
  .field
    = f.label :unit
    = f.text_field :unit  
  .field
    = f.label :name
    = f.text_field :name
  .actions
    = f.submit 'Save'