= form_for Batch.new do |f|

  =f.hidden_field :recipe_id, { :value => @recipe.id }
    
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :date
    = f.text_field :date, :class => 'datepicker'
  .actions
    = f.submit 'Save'